@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500&family=DM+Sans:opsz,wght@9..40,100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@200&family=Pixelify+Sans&family=Poppins:wght@300;600;700&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&family=Ultra&display=swap");

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.side-nav {
  display: inline-block;
  vertical-align: top;
  padding: 64px;
  background-color: #2f80ed;
  box-sizing: border-box;
  color: white;
  height: 100vh;
}
/* .content {
  display: inline-block;
  width: 70%;
  padding: 44px;
}
.analitic h3 {
  color: white;
}
.analitic h3 {
  display: inline;
}
.analitic img {
  display: inline;
  margin-right: 14px;
}
.nav-list {
  margin-top: 157px;
}

.nav-list a {
  display: block;
  color: white;
  line-height: 50px;
  text-decoration: none;
  font-weight: 700;
}
.logout {
  cursor: pointer;
}
.logout img {
  margin-right: 4px;
}
.logout-btn {
  border: none;
  background-color: unset;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
main {
  display: inline;
}

.title {
  color: #515151;
  font-size: 24px;
  font-weight: 700;
}
.headline-text {
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

.view-block {
  display: inline-block;
  margin-right: 13%;
  border-radius: 25px;
  padding: 40px 80px;
  background-color: #333;
}
.view-block span {
  font-weight: 700;
  color: white;
}
.count {
  font-size: 36px;
}
.page-input span {
  left: 100px;
}
.page-input {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #4f4f4f;
  border: 1px solid #bdbdbd;
  padding: 19px 39px;
}
.dashboard-page {
  display: flex;

  margin-top: 153px;
}
.dashboard-page a {
  color: white;
  text-decoration: none;
  font-weight: 700;
} */
